.item {
  color: bisque;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
small.ncap {
  margin-right: 15px;
}
p.name {
  max-width: 30ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
