.App {
  margin: 16px;
  text-align: left;
}

.App-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.createN {
  display: flex;
  flex-direction: row;
}
.text-new {
  font-size: 12pt;
}
.newmanga {
  max-height: fit-content;
}
