.App {
  margin: 16px;
  text-align: left;
}

.App-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}
.app-title {
  text-align: center;
}
.App-link {
  color: #61dafb;
}
.createN {
  display: flex;
  flex-direction: row;
}

.text-new {
  font-size: 12pt;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  box-shadow: 0 10px 14px -7px #0d1a30;
  background: linear-gradient(180deg, #2e466e 5%, #415989);
  /* background-color: #2e466e; */
  border-radius: 3px;
  display: inline-block;
  cursor: pointer;
  color: #fff;
  /* font-family: Arial; */
  /* font-size: 20px; */
  /* font-weight: 700; */
  padding: 2px 8px;
  text-decoration: none;
  text-shadow: 0 1px 0 #263666;
}
.text-new:hover {
  background: linear-gradient(to bottom, #415989 5%, #2e466e 100%);
  background-color: #415989;
}
.text-new:active {
  position: relative;
  top: 1px;
}

form {
  display: flex;
  flex-direction: row;
}
input {
  max-width: 150px;
}
.creatingNew {
  display: flex;
  flex-direction: column;
}
