.App {
  margin: 16px;
  text-align: left;
}
.cantSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.App-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}
.app-title {
  text-align: center;
}
.App-link {
  color: #61dafb;
}
.createN {
  display: flex;
  flex-direction: row;
}

.menu {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
  background-color: rgb(19, 82, 87);
  margin: 8px 0px 5px 0px;
}
.aba-selected {
  background-color: #282c34;
}
.menu-aba {
  width: 83px;
  height: 24px;
  text-align: center;
}
.menu-aba:hover {
  box-shadow: 0 10px 14px -7px #0d1a30;
}

.text-new {
  font-size: 12pt;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  box-shadow: 0 10px 14px -7px #0d1a30;
  background: linear-gradient(180deg, #2e466e 5%, #415989);
  /* background-color: #2e466e; */
  border-radius: 3px;
  display: inline-block;
  cursor: pointer;
  color: #fff;
  /* font-family: Arial; */
  /* font-size: 20px; */
  /* font-weight: 700; */
  padding: 2px 8px;
  text-decoration: none;
  text-shadow: 0 1px 0 #263666;
}
.text-new:hover {
  background: linear-gradient(to bottom, #415989 5%, #2e466e 100%);
  background-color: #415989;
}
.text-new:active {
  position: relative;
  top: 1px;
}

.bckp-btn {
  font-size: 12pt;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  background: linear-gradient(180deg, #e2c417 5%, #dbc336);
  border-radius: 3px;
  display: inline-block;
  cursor: pointer;
  color: #fff;
  padding: 2px 8px;
  text-decoration: none;
  text-shadow: 0 1px 0 #e2c417;
}
.bckp-btn:hover {
  background: linear-gradient(to bottom, #dbc336 5%, #e2c417 100%);
  background-color: #dbc336;
}
.bckp-btn:active {
  position: relative;
  top: 1px;
}

form {
  display: flex;
  flex-direction: row;
}
input {
  max-width: 150px;
}
.creatingNew {
  display: flex;
  flex-direction: column;
}
